# Base de donnees
*.db

# Variables d'environnement (secrets)
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/

# Exports generes
exports/*.csv
exports/*.xlsx

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
